<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script> 
            $(document).ready(function(){
                    $("div").animate({left: '350px'});
               
            });
        </script> 
	    <link href = '/static/css/tec.css' rel = 'stylesheet' type= 'text/css'>
    </head>

	<ul>
			
		
			
		<li><a>Contact Us</a></li>
		<li><a>About</a>
			<ul>
				<li><a href = "/team">Our Team</a></li>
				<li><a href = "/mission">Mission &amp; Vision</a></li>
			</ul>
		</li>
		<li><a href ="/">Home</a></li>
		<li style="float: left; font-size:30px;"><a href ="/">WeConnec</a></li>
	</ul>
	

  	<br>
  	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div id = "tre">
	    <img id = "gallery" src = "/static/css/images/jew.png">
	
        <div id = "te">
    	    <strong>Meet our Development Team:</strong>
    	   <br>
    	   <br>
        	   <strong>Shanell Brown</strong><br>
        	   Back-end Developer <br><br>
        	   <strong>Nish Brown</strong><br>
        	   Back-end Developer<br><br>
        	   <strong>Jordan  Cooper</strong><br>
        	   Front-end Developer <br><br>
        	   <strong>Paul Parker</strong><br>
        	   Database Administrator
       </div>
    </div>
	    


 
</html>